[submodule "emacs.d/bundle/clojure-mode"]
	path = emacs.d/bundle/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "emacs.d/bundle/paredit"]
	path = emacs.d/bundle/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "emacs.d/bundle/undo-tree"]
	path = emacs.d/bundle/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule "emacs.d/bundle/evil"]
	path = emacs.d/bundle/evil
	url = git://gitorious.org/evil/evil.git
[submodule "emacs.d/bundle/textmate"]
	path = emacs.d/bundle/textmate
	url = https://github.com/defunkt/textmate.el.git
[submodule "emacs.d/bundle/surround"]
	path = emacs.d/bundle/surround
	url = https://github.com/timcharper/evil-surround.git
[submodule "emacs.d/bundle/slime"]
	path = emacs.d/bundle/slime
	url = https://github.com/technomancy/slime.git
[submodule "emacs.d/bundle/auto-complete"]
	path = emacs.d/bundle/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "emacs.d/bundle/ace-jump-mode"]
	path = emacs.d/bundle/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs.d/bundle/haml-mode"]
	path = emacs.d/bundle/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "emacs.d/bundle/sass-mode"]
	path = emacs.d/bundle/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "emacs.d/bundle/ruby-electric"]
	path = emacs.d/bundle/ruby-electric
	url = https://github.com/neomantic/ruby-electric.git
[submodule "emacs.d/bundle/json-mode"]
	path = emacs.d/bundle/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "emacs.d/bundle/dirtree"]
	path = emacs.d/bundle/dirtree
	url = https://github.com/zkim/emacs-dirtree.git
[submodule "emacs.d/bundle/tree-mode"]
	path = emacs.d/bundle/tree-mode
	url = https://github.com/emacsmirror/tree-mode.git
[submodule "emacs.d/bundle/windata"]
	path = emacs.d/bundle/windata
	url = https://github.com/emacsmirror/windata.git
