set ignorecase
set smartcase
set scrolloff=3         " 3 lines above/below cursor when scrolling
set visualbell
set noerrorbells
set multiple-cursors
set surround
set commentary

" Integrate with system clipboard
set gdefault

" use system clipboard
set clipboard=unnamedplus,unnamed


set timeoutlen=1000
let mapleader = ","


" Allow backspace and cursor keys to cross line boundaries
set whichwrap+=<,>,h,l

" black hole register
vmap <backspace> "_d
vmap <del> "_d
set whichwrap+=<,>,h,l

imap ,. <Esc>
vmap ,. <Esc>

" Use Q for formatting the current paragraph (or visual selection)
vmap Q gq
nmap Q gqap

" These create newlines like o and O but stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j

" key bindings for quickly moving between windows
" h left, l right, k up, j down
nmap <leader>h <c-w>h
nmap <leader>l <c-w>l
nmap <leader>k <c-w>k
nmap <leader>j <c-w>j

"nmap <leader>g :action GotoDeclaration<cr>
"nmap <leader>b :action Back<cr>
"nmap <leader>f :action Forward<cr>
"
"nmap <leader>t :action GotoFile<cr>
"nmap <leader>c :action GotoClass<cr>
"nmap <leader>d :action ShowErrorDescription<cr>
"nmap == :action ReformatCode<cr>

imap jj <Esc>
imap kk <Esc>
imap jk <Esc>
imap kj <Esc>

nmap <M-S-h>         :action PreviousTab<CR>
nmap <M-S-l>         :action NextTab<CR>
nmap <leader>e       :action RecentFiles<CR>
nmap <leader><CR>    :action RecentLocations<CR>
nmap <c-i>           :action Forward<CR>
nmap <c-o>           :action Back<CR>
nmap <leader>O       :action ActivateTerminalToolWindow<CR>
nmap ==              :action ReformatCode<cr>
nmap <leader><Space> :action GotoAction<CR>
nmap <leader>aa      :action $SelectAll<CR>
nmap <leader>al      :actionlist<CR>
nmap <leader>/i      :action ActivateStructureToolWindow<CR>
nmap <leader>cc      :action GotoClass<CR>
nmap <leader>ff      :action GotoFile<CR>
nmap <leader>dD      :action DebugClass<CR>
nmap <leader>dd      :action Debug<CR>
nmap <leader>op      :action SelectInProjectView<CR>
nmap <leader>fd      :action SmartSearchAction<CR>
nmap <leader>ft      :action ActivateProjectToolWindow<CR>
nmap <leader>fT      :action SelectInProjectView<CR>
nmap <leader>/i      :action FileStructurePopup<CR>
nmap <leader>cf      :action ReformatCode<CR>
nmap <leader>rR      :action RunClass<CR>
nmap <leader>rr      :action Run<CR>
nmap <leader>ns      :action GotoSymbol<cr>
nmap <leader>nm      :action FileStructurePopup<cr>
nmap gd              :action GotoDeclaration<CR>
nmap gD              :action FindUsages<CR>
nmap <leader>RR      :action ChooseRunConfiguration <CR>

nnoremap <leader>w v:action EditorSelectWord<CR>
vnoremap <leader>w :action EditorSelectWord<CR>

" IdeaVim uses 'a' for alt instead of Vim's 'm'
nmap <a-j> 15gj
nmap <a-k> 15gk

" Reload .ideavimrc
nmap <leader>L :source ~/.ideavimrc<CR>


set clipboard+=ideaput
